<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196239737045-1pf3cicutcqu8pfvndll09gc4urg6jng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196239737045-1pf3cicutcqu8pfvndll09gc4urg6jng</string>
	<key>API_KEY</key>
	<string>AIzaSyDxjfOPf-Nxq0k924DxrwK0qBqIIXezukc</string>
	<key>GCM_SENDER_ID</key>
	<string>196239737045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitbreaker</string>
	<key>PROJECT_ID</key>
	<string>solutionchallenge-ecbfb</string>
	<key>STORAGE_BUCKET</key>
	<string>solutionchallenge-ecbfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196239737045:ios:7e63e149502fded412a25c</string>
</dict>
</plist>